In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/FINANCE - FISIOHOME 2024 - PENDAPATAN.csv')

In [ ]:
df.head(5)

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,...,Bank Mitra,Layanan,ID MITRA,Status Mitra,Email,Channel,Request Form Masuk,Akun IG \n(Pemenang Giveaway),Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,MANDIRI,FISIOHOME,FH474,Flat,srituharea@gmail.com,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,BCA,FISIOHOME,FH350,Flat,-,INSTAGRAM,28/12/2023,NaN,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,"Rp399,000",1,NaN,"Rp399,000",Order Visit,"Rp119,700","Rp200,000",...,BCA,FISIOHOME,FH494,Flat,-,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,"Rp299,000",1,NaN,"Rp299,000",Order Visit,"Rp89,700","Rp150,000",...,MANDIRI,FISIOHOME,FH470,Flat,agungdwiprakoso1995@gmail.com,INSTAGRAM,01/01/2024,NaN,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,...,BRI,PERAWAT HOMECARE,PH0037,Flat,-,-,01/01/2024,NaN,12/30/1899 0:00:00,L

In [ ]:
df.shape

(16612, 23)

In [ ]:
df.describe()

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,...,Bank Mitra,Layanan,ID MITRA,Status Mitra,Email,Channel,Request Form Masuk,Akun IG \n(Pemenang Giveaway),Timestamp,Gender Terapis
count,10353,8193,8192,8192,8193,1557,16612,8191,16612,16605,...,8145,8145,8145,8144,8164,8180,8155,2,8155,6453
unique,10351,146,165,39,18,31,191,40,191,194,...,31,5,575,3,4288,160,159,1,4834,2
top,VL48284X,CANCEL,CANCEL,"Rp299,000",1,CANCEL,Rp0,Order Visit,Rp0,Rp0,...,BCA,FISIOHOME,PH0081,Flat,-,INSTAGRAM,13/04/2024,NO INVOICE,12/30/1899 0:00:00,P
freq,2,522,538,2875,4973,538,8507,4128,8507,8439,...,5526,7229,118,5752,2452,4086,105,2,895,4223

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16612 entries, 0 to 16611
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Invoice                       10353 non-null  object
 1   Order Date                    8193 non-null   object
 2   Visit Date                    8192 non-null   object
 3   Price                         8192 non-null   object
 4   Visit Count                   8193 non-null   object
 5   Discount                      1557 non-null   object
 6   Total Transaction             16612 non-null  object
 7   Product Name                  8191 non-null   object
 8   Nett Income                   16612 non-null  object
 9   Wallet Mitra                  16605 non-null  object
 10  Patient Name                  8193 non-null   object
 11  Kota                          8174 non-null   object
 12  Mitra Terapis                 8191 non-null   object
 13  Bank Mitra                    8145 non-null   object
 14  Layanan                       8145 non-null   object
 15  ID MITRA                      8145 non-null   object
 16  Status Mitra                  8144 non-null   object
 17  Email                         8164 non-null   object
 18  Channel                       8180 non-null   object
 19  Request Form Masuk            8155 non-null   object
 20  Akun IG
(Pemenang Giveaway)  2 non-null      object
 21  Timestamp                     8155 non-null   object
 22  Gender Terapis                6453 non-null   object
dtypes: object(23)
memory usage: 2.9+ MB

In [ ]:
df.columns

Index(['Invoice', 'Order Date', 'Visit Date', 'Price', 'Visit Count',
       'Discount', 'Total Transaction', 'Product Name', 'Nett Income',
       'Wallet Mitra', 'Patient Name', 'Kota', 'Mitra Terapis', 'Bank Mitra',
       'Layanan', 'ID MITRA', 'Status Mitra', 'Email', 'Channel',
       'Request Form Masuk', 'Akun IG \n(Pemenang Giveaway)', 'Timestamp',
       'Gender Terapis'],
      dtype='object')

DATA UNDERSTANDING

In [ ]:
duplikat = df[df.duplicated(keep=False)]
print(duplikat)

      Invoice Order Date Visit Date Price Visit Count Discount  \
10353     NaN        NaN        NaN   NaN         NaN      NaN
10354     NaN        NaN        NaN   NaN         NaN      NaN
10355     NaN        NaN        NaN   NaN         NaN      NaN
10356     NaN        NaN        NaN   NaN         NaN      NaN
10357     NaN        NaN        NaN   NaN         NaN      NaN
...       ...        ...        ...   ...         ...      ...
16607     NaN        NaN        NaN   NaN         NaN      NaN
16608     NaN        NaN        NaN   NaN         NaN      NaN
16609     NaN        NaN        NaN   NaN         NaN      NaN
16610     NaN        NaN        NaN   NaN         NaN      NaN
16611     NaN        NaN        NaN   NaN         NaN      NaN

      Total Transaction Product Name Nett Income Wallet Mitra  ... Bank Mitra  \
10353               Rp0          NaN         Rp0          Rp0  ...        NaN
10354               Rp0          NaN         Rp0          Rp0  ...        NaN
10355               Rp0          NaN         Rp0          Rp0  ...        NaN
10356               Rp0          NaN         Rp0          Rp0  ...        NaN
10357               Rp0          NaN         Rp0          Rp0  ...        NaN
...                 ...          ...         ...          ...  ...        ...
16607               Rp0          NaN         Rp0          Rp0  ...        NaN
16608               Rp0          NaN         Rp0          Rp0  ...        NaN
16609               Rp0          NaN         Rp0          Rp0  ...        NaN
16610               Rp0          NaN         Rp0          Rp0  ...        NaN
16611               Rp0          NaN         Rp0          Rp0  ...        NaN

      Layanan ID MITRA Status Mitra Email Channel Request Form Masuk  \
10353     NaN      NaN          NaN   NaN     NaN                NaN
10354     NaN      NaN          NaN   NaN     NaN                NaN
10355     NaN      NaN          NaN   NaN     NaN                NaN
10356     NaN      NaN          NaN   NaN     NaN                NaN
10357     NaN      NaN          NaN   NaN     NaN                NaN
...       ...      ...          ...   ...     ...                ...
16607     NaN      NaN          NaN   NaN     NaN                NaN
16608     NaN      NaN          NaN   NaN     NaN                NaN
16609     NaN      NaN          NaN   NaN     NaN                NaN
16610     NaN      NaN          NaN   NaN     NaN                NaN
16611     NaN      NaN          NaN   NaN     NaN                NaN

      Akun IG \n(Pemenang Giveaway) Timestamp Gender Terapis
10353                           NaN       NaN            NaN
10354                           NaN       NaN            NaN
10355                           NaN       NaN            NaN
10356                           NaN       NaN            NaN
10357                           NaN       NaN            NaN
...                             ...       ...            ...
16607                           NaN       NaN            NaN
16608                           NaN       NaN            NaN
16609                           NaN       NaN            NaN
16610                           NaN       NaN            NaN
16611                           NaN       NaN            NaN

[6259 rows x 23 columns]

In [ ]:
print(df['Kota'].unique())

['Depok' 'Bogor Kabupaten' 'Jakarta Barat' 'Bekasi Kabupaten'
 'Jakarta Selatan' 'Jakarta Pusat' 'Jakarta Timur' 'Tangerang Selatan'
 'Tangerang Kota' 'Jakarta Utara' 'Solo' 'Bekasi Kota' 'padang'
 'Bogor Kota' 'karawang' 'Tangerang Kabupaten' 'Lampung' 'Surabaya'
 'Yogyakarta' 'Bandung' 'Palembang' nan 'bandung' 'Karawang' 'Semarang'
 'Kabupaten Bandung Barat' 'semarang kota' 'semarang' 'bogor' 'bali'
 'Sidoarjo' 'Bali' 'Kab. Bandung' 'NO INVOICE' 'Klaten' 'cimahi'
 'Kab Bandung' 'Malang' 'Tasikmalaya' 'Makassar' 'denpasar' 'Bandung '
 'palembang' 'Bandung Kabupaten' 'Balikpapan' 'Karawang ' 'Serang'
 'Cilegon' 'Pandeglang' 'Surakarta' 'Kota serang' 'purwokerto ' 'sidoarjo'
 'serang' 'malang' 'Cimahi' 'Karawang  ' 'Semarang Jawa Tengah' 'makassar'
 'Padang' 'Pandeglang Banten' 'Tegal' 'Serang ' 'Bekasi' 'Banjarmasin'
 'Denpasar' 'Jawa Barat' 'Indramayu' '-' 'Cirebon' 'Pekalongan'
 'Kota Tangerang' 'Medan' 'Sukoharjo' 'Samarinda' 'Makssar' 'Palembang '
 'Jimbaran, Bali' 'Bandar Lampung' 'Purwokerto' 'cirebon' 'Makassar '
 'Pontianak' 'Surakarta Solo Jawa Tengah' 'Jambi' 'Salatiga' 'karawang '
 'Alor, NTT' 'Malang Jawa Timur' 'BANDUNG' 'Binjai' 'Kediri' 'Kediri '
 'Sidoarjo Jawa Timur' 'Manado' 'Banjarmasin ' 'Surabaya ' 'Serang Banten'
 'Lampung ' 'klaten' 'Cirebon ' 'Semarang Kabupaten' 'Tasikmalaya '
 'PALEMBANG' 'surabaya' 'bandung ' 'Sidoarjo ' 'Kab bandung ' 'Semarang '
 'Riau' 'Sukoharjo, Solo' 'Banten' 'Cilacap' 'Bandung Lampung'
 'Demak Jawa Tengah' 'Manado ' 'MAKASSAR' 'Karanganyar' 'Banda Aceh'
 'medan' 'Banteng' 'cirebon ' 'Deli Serdang' 'Tangerang' 'tegal'
 'Deli Serdang Sumatera Utara' 'Banyumas Purwokerto' 'Bandung Barat'
 'cilacap' 'palembang ' 'Gresik' 'kediri' 'Banda aceh' 'pontianak kota'
 'lampung' 'tasikmalaya' 'pontianak' 'Cimahi Jawa Barat' 'Klaten '
 'Kota Surabaya' 'Kulon Progo' 'Kota Medan' 'pekalongan ' 'Indramayu '
 'medan ' 'cilegon' 'samarinda']

In [ ]:
#df.drop(['Akun IG \n(Pemenang Giveaway)','Bank Mitra','Email','Channel','Request Form Masuk'], axis=1, inplace=True)

In [ ]:
df.isnull().sum()

Invoice                           6259
Order Date                        8419
Visit Date                        8420
Price                             8420
Visit Count                       8419
Discount                         15055
Total Transaction                    0
Product Name                      8421
Nett Income                          0
Wallet Mitra                         7
Patient Name                      8419
Kota                              8438
Mitra Terapis                     8421
Bank Mitra                        8467
Layanan                           8467
ID MITRA                          8467
Status Mitra                      8468
Email                             8448
Channel                           8432
Request Form Masuk                8457
Akun IG \n(Pemenang Giveaway)    16610
Timestamp                         8457
Gender Terapis                   10159
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,...,Bank Mitra,Layanan,ID MITRA,Status Mitra,Email,Channel,Request Form Masuk,Akun IG \n(Pemenang Giveaway),Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,MANDIRI,FISIOHOME,FH474,Flat,srituharea@gmail.com,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,BCA,FISIOHOME,FH350,Flat,-,INSTAGRAM,28/12/2023,NaN,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,"Rp399,000",1,NaN,"Rp399,000",Order Visit,"Rp119,700","Rp200,000",...,BCA,FISIOHOME,FH494,Flat,-,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,"Rp299,000",1,NaN,"Rp299,000",Order Visit,"Rp89,700","Rp150,000",...,MANDIRI,FISIOHOME,FH470,Flat,agungdwiprakoso1995@gmail.com,INSTAGRAM,01/01/2024,NaN,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,...,BRI,PERAWAT HOMECARE,PH0037,Flat,-,-,01/01/2024,NaN,12/30/1899 0:00:00,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16608,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16609,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16610,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16611,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df.isnull().any(axis=1)]

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,...,Bank Mitra,Layanan,ID MITRA,Status Mitra,Email,Channel,Request Form Masuk,Akun IG \n(Pemenang Giveaway),Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,MANDIRI,FISIOHOME,FH474,Flat,srituharea@gmail.com,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,"Rp299,000",1,"Rp20,000","Rp279,000",Order Visit,"Rp83,700","Rp150,000",...,BCA,FISIOHOME,FH350,Flat,-,INSTAGRAM,28/12/2023,NaN,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,"Rp399,000",1,NaN,"Rp399,000",Order Visit,"Rp119,700","Rp200,000",...,BCA,FISIOHOME,FH494,Flat,-,FACEBOOK,31/12/2023,NaN,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,"Rp299,000",1,NaN,"Rp299,000",Order Visit,"Rp89,700","Rp150,000",...,MANDIRI,FISIOHOME,FH470,Flat,agungdwiprakoso1995@gmail.com,INSTAGRAM,01/01/2024,NaN,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,...,BRI,PERAWAT HOMECARE,PH0037,Flat,-,-,01/01/2024,NaN,12/30/1899 0:00:00,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16608,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16609,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16610,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16611,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[df.duplicated()]

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,...,Bank Mitra,Layanan,ID MITRA,Status Mitra,Email,Channel,Request Form Masuk,Akun IG \n(Pemenang Giveaway),Timestamp,Gender Terapis
10354,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10355,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10356,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10357,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10358,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16608,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16609,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16610,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16611,NaN,NaN,NaN,NaN,NaN,NaN,Rp0,NaN,Rp0,Rp0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DATA TYPE CORRECTION

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16612 entries, 0 to 16611
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Invoice                       10353 non-null  object
 1   Order Date                    8193 non-null   object
 2   Visit Date                    8192 non-null   object
 3   Price                         8192 non-null   object
 4   Visit Count                   8193 non-null   object
 5   Discount                      1557 non-null   object
 6   Total Transaction             16612 non-null  object
 7   Product Name                  8191 non-null   object
 8   Nett Income                   16612 non-null  object
 9   Wallet Mitra                  16605 non-null  object
 10  Patient Name                  8193 non-null   object
 11  Kota                          8174 non-null   object
 12  Mitra Terapis                 8191 non-null   object
 13  Bank Mitra                    8145 non-null   object
 14  Layanan                       8145 non-null   object
 15  ID MITRA                      8145 non-null   object
 16  Status Mitra                  8144 non-null   object
 17  Email                         8164 non-null   object
 18  Channel                       8180 non-null   object
 19  Request Form Masuk            8155 non-null   object
 20  Akun IG
(Pemenang Giveaway)  2 non-null      object
 21  Timestamp                     8155 non-null   object
 22  Gender Terapis                6453 non-null   object
dtypes: object(23)
memory usage: 2.9+ MB

In [ ]:
df.dtypes

Invoice                          object
Order Date                       object
Visit Date                       object
Price                            object
Visit Count                      object
Discount                         object
Total Transaction                object
Product Name                     object
Nett Income                      object
Wallet Mitra                     object
Patient Name                     object
Kota                             object
Mitra Terapis                    object
Bank Mitra                       object
Layanan                          object
ID MITRA                         object
Status Mitra                     object
Email                            object
Channel                          object
Request Form Masuk               object
Akun IG \n(Pemenang Giveaway)    object
Timestamp                        object
Gender Terapis                   object
dtype: object

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
16607     True
16608     True
16609     True
16610     True
16611     True
Length: 16612, dtype: bool

In [ ]:
df.duplicated().sum()

6258

In [ ]:
def clean_discount(discount):
    if isinstance(discount, str):
        if 'Rp' in discount:
            # Bersihkan simbol 'Rp' dan koma
            return int(discount.replace('Rp', '').replace(',', ''))
    return discount

df['Discount'] = df['Discount'].apply(clean_discount)

In [ ]:
def clean_price(price):
    if isinstance(price, str):
        if 'Rp' in price:
            # Bersihkan simbol 'Rp' dan koma
            return int(price.replace('Rp', '').replace(',', ''))
    return price


df['Price'] = df['Price'].apply(clean_price)

In [ ]:
def clean_transaction(transaction):
    if isinstance(transaction, str):
        if 'Rp' in transaction:
            # Bersihkan simbol 'Rp' dan koma
            return int(transaction.replace('Rp', '').replace(',', ''))
    return transaction


df['Total Transaction'] = df['Total Transaction'].apply(clean_transaction)

In [ ]:
def clean_income(income):
    if isinstance(income, str):
        if 'Rp' in income:
            # Bersihkan simbol 'Rp' dan koma
            return int(income.replace('Rp', '').replace(',', ''))
    return income


df['Nett Income'] = df['Nett Income'].apply(clean_income)

In [ ]:
def clean_wallet(wallet):
    if isinstance(wallet, str):
        # Bersihkan simbol 'Rp', koma, titik, dan spasi
        cleaned_wallet = wallet.replace('Rp', '').replace(',', '').replace('.', '').strip()
        if cleaned_wallet.isdigit():
            return int(cleaned_wallet)
    return wallet

df['Wallet Mitra'] = df['Wallet Mitra'].apply(clean_wallet)

In [ ]:
cols = ['Price', 'Wallet Mitra', 'Discount','Nett Income','Total Transaction']
df[cols] = df[cols].apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0).astype(int)

DATA PREPARATION

In [ ]:
df['Kota'] = df['Kota'].replace(['Alor, NTT'], 'NTT')

In [ ]:
df['Kota'] = df['Kota'].replace(['BANDUNG','Kab bandung ','Kab bandung','Kab Bandung','Kab. Bandung','Kabupaten Bandung Barat','Bandung Barat', 'Bandung Kabupaten', 'Bandung Lampung','bandung','bandung '], 'Bandung')

In [ ]:
df['Kota'] = df['Kota'].replace(['Jimbaran, Bali','bali','denpasar'], 'Bali')

In [ ]:
df['Kota'] = df['Kota'].replace(['Banteng'], 'Banten')

In [ ]:
df['Kota'] = df['Kota'].replace(['Bekasi Kabupaten','Bekasi Kota',''], 'Bekasi')

In [ ]:
df['Kota'] = df['Kota'].replace(['bogor','Bogor Kabupaten','Bogor Kota'], 'Bogor')

In [ ]:
df['Kota'] = df['Kota'].replace(['Banjarmasin '], 'Banjarmasin')

In [ ]:
df['Kota'] = df['Kota'].replace(['Banda aceh'], 'Banda Aceh')

In [ ]:
df['Kota'] = df['Kota'].replace(['cimahi','Cimahi Jawa Barat'], 'Cimahi')

In [ ]:
df['Kota'] = df['Kota'].replace(['cirebon','Cirebon ','cirebon '], 'Cirebon')

In [ ]:
df['Kota'] = df['Kota'].replace(['cilacap'], 'Cilacap')

In [ ]:
df['Kota'] = df['Kota'].replace(['cilegon'], 'Cilegon')

In [ ]:
df['Kota'] = df['Kota'].replace(['Demak Jawa Tengah'], 'Demak')

In [ ]:
df['Kota'] = df['Kota'].replace(['Deli Serdang Sumatera Utara','Deli Serdang'], 'Deli Serdang')

In [ ]:
df['Kota'] = df['Kota'].replace(['karawang','karawang '], 'Karawang')

In [ ]:
df['Kota'] = df['Kota'].replace(['Kediri ','kediri'], 'Kediri')

In [ ]:
df['Kota'] = df['Kota'].replace(['klaten','Klaten '], 'Klaten')

In [ ]:
df['Kota'] = df['Kota'].replace(['Tasikmalaya ','tasikmalaya'], 'Tasikmalaya')

In [ ]:
df['Kota'] = df['Kota'].replace(['Kota Tangerang','Tangerang Kabupaten','Tangerang Kota','Tangerang Selatan'], 'Tangerang')

In [ ]:
df['Kota'] = df['Kota'].replace(['makassar','MAKASSAR','Makssar','Makassar '], 'Makassar')

In [ ]:
df['Kota'] = df['Kota'].replace(['tegal'], 'Tegal')

In [ ]:
df['Kota'] = df['Kota'].replace(['Kota Medan','medan','medan '], 'Medan')

In [ ]:
df['Kota'] = df['Kota'].replace(['Manado '], 'Manado')

In [ ]:
df['Kota'] = df['Kota'].replace(['Malang Jawa Timur','malang'], 'Malang')

In [ ]:
df['Kota'] = df['Kota'].replace(['Lampung ','lampung'], 'Lampung')

In [ ]:
df['Kota'] = df['Kota'].replace(['Indramayu '], 'Indramayu')

In [ ]:
df['Kota'] = df['Kota'].replace(['padang'], 'Padang')

In [ ]:
df['Kota'] = df['Kota'].replace(['pekalongan '], 'Pekalongan')

In [ ]:
df['Kota'] = df['Kota'].replace(['palembang','PALEMBANG','palembang'], 'Palembang')

In [ ]:
df['Kota'] = df['Kota'].replace(['Pandeglang Banten'], 'Pandeglang')

In [ ]:
df['Kota'] = df['Kota'].replace(['pontianak kota', 'pontianak'], 'Pontianak')

In [ ]:
df['Kota'] = df['Kota'].replace(['purwokerto ','Banyumas Purwokerto'], 'Purwokerto')

In [ ]:
df['Kota'] = df['Kota'].replace(['Kota serang','serang','serang ','Serang Banten'], 'Serang')

In [ ]:
df['Kota'] = df['Kota'].replace(['sidoarjo','Sidoarjo Jawa Timur','Sidoarjo '], 'Sidoarjo')

In [ ]:
df['Kota'] = df['Kota'].replace(['Kota Surabaya','Surabaya ','surabaya'], 'Surabaya')

In [ ]:
df['Kota'] = df['Kota'].replace(['Semarang Kabupaten','semarang kota','Semarang Jawa Tengah','semarang','Semarang '], 'Semarang')

In [ ]:
df['Kota'] = df['Kota'].replace(['samarinda'], 'Samarinda')

In [ ]:
df['Kota'] = df['Kota'].replace(['Sukoharjo','Sukoharjo, Solo','Surakarta','Surakarta Solo Jawa Tengah'], 'Solo')

In [ ]:
print(df['Kota'].unique())

['Depok' 'Bogor' 'Jakarta Barat' 'Bekasi' 'Jakarta Selatan'
 'Jakarta Pusat' 'Jakarta Timur' 'Tangerang' 'Jakarta Utara' 'Solo'
 'Padang' 'Karawang' 'Lampung' 'Surabaya' 'Yogyakarta' 'Bandung'
 'Palembang' nan 'Semarang' 'Bali' 'Sidoarjo' 'NO INVOICE' 'Klaten'
 'Cimahi' 'Malang' 'Tasikmalaya' 'Makassar' 'Bandung ' 'Balikpapan'
 'Karawang ' 'Serang' 'Cilegon' 'Pandeglang' 'Purwokerto' 'Karawang  '
 'Tegal' 'Serang ' 'Banjarmasin' 'Denpasar' 'Jawa Barat' 'Indramayu' '-'
 'Cirebon' 'Pekalongan' 'Medan' 'Samarinda' 'Palembang ' 'Bandar Lampung'
 'Pontianak' 'Jambi' 'Salatiga' 'NTT' 'Binjai' 'Kediri' 'Manado' 'Riau'
 'Banten' 'Cilacap' 'Demak' 'Karanganyar' 'Banda Aceh' 'Deli Serdang'
 'palembang ' 'Gresik' 'Kulon Progo']

In [ ]:
df.drop(['Akun IG \n(Pemenang Giveaway)','Bank Mitra','Email','Channel','Request Form Masuk'], axis=1, inplace=True)

In [ ]:
df

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,Patient Name,Kota,Mitra Terapis,Layanan,ID MITRA,Status Mitra,Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Sri BudiHarti Suhadi,Depok,Dewa Ayu Putu Chandra Iswary,FISIOHOME,FH474,Flat,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Ibu Novi Syahrial,Bogor,Fakhatorika Utami,FISIOHOME,FH350,Flat,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,399000,1,0,399000,Order Visit,119700,200000,Andreas,Jakarta Barat,Nurhayati Lisa Yusmanningsih,FISIOHOME,FH494,Flat,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,299000,1,0,299000,Order Visit,89700,150000,Agung Dwi Prakoso,Bekasi,Muhammad Sani Afif,FISIOHOME,FH470,Flat,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,dian masitoh,Jakarta Selatan,Dian Kardiansah,PERAWAT HOMECARE,PH0037,Flat,12/30/1899 0:00:00,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16607,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16608,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16609,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16610,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16611,NaN,NaN,NaN,0,NaN,0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16612 entries, 0 to 16611
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Invoice            10353 non-null  object
 1   Order Date         8193 non-null   object
 2   Visit Date         8192 non-null   object
 3   Price              16612 non-null  int64
 4   Visit Count        8193 non-null   object
 5   Discount           16612 non-null  int64
 6   Total Transaction  16612 non-null  int64
 7   Product Name       8191 non-null   object
 8   Nett Income        16612 non-null  int64
 9   Wallet Mitra       16612 non-null  int64
 10  Patient Name       8193 non-null   object
 11  Kota               8174 non-null   object
 12  Mitra Terapis      8191 non-null   object
 13  Layanan            8145 non-null   object
 14  ID MITRA           8145 non-null   object
 15  Status Mitra       8144 non-null   object
 16  Timestamp          8155 non-null   object
 17  Gender Terapis     6453 non-null   object
dtypes: int64(5), object(13)
memory usage: 2.3+ MB

In [ ]:
df.shape

(16612, 18)

In [ ]:
df = df.dropna(thresh=9)

In [ ]:
df

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,Patient Name,Kota,Mitra Terapis,Layanan,ID MITRA,Status Mitra,Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Sri BudiHarti Suhadi,Depok,Dewa Ayu Putu Chandra Iswary,FISIOHOME,FH474,Flat,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Ibu Novi Syahrial,Bogor,Fakhatorika Utami,FISIOHOME,FH350,Flat,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,399000,1,0,399000,Order Visit,119700,200000,Andreas,Jakarta Barat,Nurhayati Lisa Yusmanningsih,FISIOHOME,FH494,Flat,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,299000,1,0,299000,Order Visit,89700,150000,Agung Dwi Prakoso,Bekasi,Muhammad Sani Afif,FISIOHOME,FH470,Flat,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,dian masitoh,Jakarta Selatan,Dian Kardiansah,PERAWAT HOMECARE,PH0037,Flat,12/30/1899 0:00:00,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8188,VL52631,22-May-2024,23-May-2024,399000,1,0,399000,Order Visit,119700,279300,Archie Kazayn,Jakarta Timur,Nindya Listya Kartika,FISIOHOME,FH475,Flat,5/22/2024 10:25:44,NaN
8189,VL52632,22-May-2024,23-May-2024,399000,1,0,399000,Order Visit,119700,279300,Lingga,Bekasi,Rangga Lunggah Fajar Nusantara,FISIOHOME,FH318,Karpis,5/22/2024 10:39:43,NaN
8190,VL52633,22-May-2024,27-May-2024,399000,1,0,399000,Order Visit,119700,279300,Mulyanis Putra,Jakarta Timur,Dony Medika Putra,NaN,NaN,NaN,5/22/2024 11:27:58,NaN
8191,VL52634,22-May-2024,23-May-2024,299000,1,0,299000,Order Visit,89700,209300,Parti,Depok,Nurbaiti Kholishoh,FISIOHOME,FH380,Flat,5/22/2024 11:37:38,NaN
8192,VL52635,22-May-2024,26-May-2024,449000,8,0,3592000,Paket King,1077600,2514400,Queen Shanum Wijaya,Bogor,Muviar evita putri,WICARAKU,W108,Flat,5/22/2024 11:49:30,NaN

In [ ]:
df_with_na = df[df.isna().any(axis=1)]

print(df_with_na)

          Invoice   Order Date   Visit Date   Price Visit Count  Discount  \
35        VL45067   2-Jan-2024   6-Jan-2024  299000           1         0
88        VL45118   3-Jan-2024   4-Jan-2024  274000           6         0
106    VL45132XXX   3-Jan-2024   7-Jan-2024  199000           1         0
107   VL45132XXXX   3-Jan-2024   7-Jan-2024  199000           4         0
146       VL45170       CANCEL       CANCEL       0      CANCEL         0
...           ...          ...          ...     ...         ...       ...
8188      VL52631  22-May-2024  23-May-2024  399000           1         0
8189      VL52632  22-May-2024  23-May-2024  399000           1         0
8190      VL52633  22-May-2024  27-May-2024  399000           1         0
8191      VL52634  22-May-2024  23-May-2024  299000           1         0
8192      VL52635  22-May-2024  26-May-2024  449000           8         0

      Total Transaction    Product Name  Nett Income  Wallet Mitra  \
35               299000     Order Visit        89700        150000
88              1644000     Paket Suite       493200       1020000
106              199000  Paket Platinum        59700        170000
107              796000  Paket Platinum       238800        680000
146                   0          CANCEL            0             0
...                 ...             ...          ...           ...
8188             399000     Order Visit       119700        279300
8189             399000     Order Visit       119700        279300
8190             399000     Order Visit       119700        279300
8191             299000     Order Visit        89700        209300
8192            3592000      Paket King      1077600       2514400

                   Patient Name           Kota  \
35           Fauzie Srihadianto         Bekasi
88                      Tariyah          Bogor
106         Andri Muhammad Amin          Depok
107         Andri Muhammad Amin          Depok
146   Jan Vivere Verico Saragih            NaN
...                         ...            ...
8188              Archie Kazayn  Jakarta Timur
8189                     Lingga         Bekasi
8190             Mulyanis Putra  Jakarta Timur
8191                      Parti          Depok
8192        Queen Shanum Wijaya          Bogor

                                    Mitra Terapis    Layanan ID MITRA  \
35    keluarga Pasien lama fisio home an. L. Agil        NaN      NaN
88                            Achmad Zulmi Yusuf         NaN      NaN
106                           Achmad Zulmi Yusuf         NaN      NaN
107                           Achmad Zulmi Yusuf         NaN      NaN
146                     Beta Rohman Jaya Lefthree  FISIOHOME    FH343
...                                           ...        ...      ...
8188                        Nindya Listya Kartika  FISIOHOME    FH475
8189               Rangga Lunggah Fajar Nusantara  FISIOHOME    FH318
8190                            Dony Medika Putra        NaN      NaN
8191                           Nurbaiti Kholishoh  FISIOHOME    FH380
8192                           Muviar evita putri   WICARAKU     W108

     Status Mitra           Timestamp Gender Terapis
35            NaN   1/2/2024 14:10:44            NaN
88            NaN   1/3/2024 15:21:41            NaN
106           NaN  12/30/1899 0:00:00            NaN
107           NaN  12/30/1899 0:00:00            NaN
146          Flat   1/4/2024 18:54:48              L
...           ...                 ...            ...
8188         Flat  5/22/2024 10:25:44            NaN
8189       Karpis  5/22/2024 10:39:43            NaN
8190          NaN  5/22/2024 11:27:58            NaN
8191         Flat  5/22/2024 11:37:38            NaN
8192         Flat  5/22/2024 11:49:30            NaN

[1761 rows x 18 columns]

In [ ]:
df[['Price', 'Wallet Mitra', 'Discount']] = df[['Price', 'Wallet Mitra', 'Discount']].fillna(0)

<ipython-input-156-20eda462cd61>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Price', 'Wallet Mitra', 'Discount']] = df[['Price', 'Wallet Mitra', 'Discount']].fillna(0)

In [ ]:
df.isnull().sum()

Invoice                 0
Order Date              0
Visit Date              1
Price                   0
Visit Count             0
Discount                0
Total Transaction       0
Product Name            2
Nett Income             0
Wallet Mitra            0
Patient Name            0
Kota                   19
Mitra Terapis           2
Layanan                48
ID MITRA               48
Status Mitra           49
Timestamp              38
Gender Terapis       1740
dtype: int64

In [ ]:
df.dtypes

Invoice              object
Order Date           object
Visit Date           object
Price                 int64
Visit Count          object
Discount              int64
Total Transaction     int64
Product Name         object
Nett Income           int64
Wallet Mitra          int64
Patient Name         object
Kota                 object
Mitra Terapis        object
Layanan              object
ID MITRA             object
Status Mitra         object
Timestamp            object
Gender Terapis       object
dtype: object

In [ ]:
condition = df['Order Date'] == 'CANCEL'

df.loc[condition, ['Order Date','Patient Name', 'Kota','Mitra Terapis','Layanan','ID MITRA','Status Mitra','Timestamp','Gender Terapis']] = ['CANCEL','CANCEL','CANCEL','CANCEL','CANCEL','CANCEL','CANCEL','CANCEL','CANCEL']

In [ ]:
df[df['Order Date'] == 'CANCEL']

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,Patient Name,Kota,Mitra Terapis,Layanan,ID MITRA,Status Mitra,Timestamp,Gender Terapis
4,VL45040,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
8,VL45044,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
12,VL45048,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
41,VL45073,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
44,VL45076,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7973,VL52427,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
7974,VL52428,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
7998,VL52452,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
8020,VL52473,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
8093,VL52541,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL

In [ ]:
df

,Invoice,Order Date,Visit Date,Price,Visit Count,Discount,Total Transaction,Product Name,Nett Income,Wallet Mitra,Patient Name,Kota,Mitra Terapis,Layanan,ID MITRA,Status Mitra,Timestamp,Gender Terapis
0,VL45036,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Sri BudiHarti Suhadi,Depok,Dewa Ayu Putu Chandra Iswary,FISIOHOME,FH474,Flat,12/30/1899 0:00:00,P
1,VL45037,1-Jan-2024,2-Jan-2024,299000,1,20000,279000,Order Visit,83700,150000,Ibu Novi Syahrial,Bogor,Fakhatorika Utami,FISIOHOME,FH350,Flat,12/30/1899 0:00:00,P
2,VL45038,1-Jan-2024,1-Jan-2024,399000,1,0,399000,Order Visit,119700,200000,Andreas,Jakarta Barat,Nurhayati Lisa Yusmanningsih,FISIOHOME,FH494,Flat,12/30/1899 0:00:00,P
3,VL45039,1-Jan-2024,6-Jan-2024,299000,1,0,299000,Order Visit,89700,150000,Agung Dwi Prakoso,Bekasi,Muhammad Sani Afif,FISIOHOME,FH470,Flat,12/30/1899 0:00:00,L
4,VL45040,CANCEL,CANCEL,0,CANCEL,0,0,CANCEL,0,0,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL,CANCEL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8188,VL52631,22-May-2024,23-May-2024,399000,1,0,399000,Order Visit,119700,279300,Archie Kazayn,Jakarta Timur,Nindya Listya Kartika,FISIOHOME,FH475,Flat,5/22/2024 10:25:44,NaN
8189,VL52632,22-May-2024,23-May-2024,399000,1,0,399000,Order Visit,119700,279300,Lingga,Bekasi,Rangga Lunggah Fajar Nusantara,FISIOHOME,FH318,Karpis,5/22/2024 10:39:43,NaN
8190,VL52633,22-May-2024,27-May-2024,399000,1,0,399000,Order Visit,119700,279300,Mulyanis Putra,Jakarta Timur,Dony Medika Putra,NaN,NaN,NaN,5/22/2024 11:27:58,NaN
8191,VL52634,22-May-2024,23-May-2024,299000,1,0,299000,Order Visit,89700,209300,Parti,Depok,Nurbaiti Kholishoh,FISIOHOME,FH380,Flat,5/22/2024 11:37:38,NaN
8192,VL52635,22-May-2024,26-May-2024,449000,8,0,3592000,Paket King,1077600,2514400,Queen Shanum Wijaya,Bogor,Muviar evita putri,WICARAKU,W108,Flat,5/22/2024 11:49:30,NaN

In [ ]:
df.isnull().sum()

Invoice                 0
Order Date              0
Visit Date              1
Price                   0
Visit Count             0
Discount                0
Total Transaction       0
Product Name            2
Nett Income             0
Wallet Mitra            0
Patient Name            0
Kota                    9
Mitra Terapis           1
Layanan                43
ID MITRA               43
Status Mitra           44
Timestamp              36
Gender Terapis       1634
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format="%d-%b-%Y", errors='coerce')

<ipython-input-164-fc289c379fe6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order Date'] = pd.to_datetime(df['Order Date'], format="%d-%b-%Y", errors='coerce')

In [ ]:
df['Order Date'] = df['Order Date'].fillna('CANCEL')

<ipython-input-165-73f63f466c85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Order Date'] = df['Order Date'].fillna('CANCEL')

In [ ]:
df.describe()

,Price,Discount,Total Transaction,Nett Income,Wallet Mitra
count,8.193000e+03,8193.000000,8.193000e+03,8.193000e+03,8.193000e+03
mean,3.108493e+05,10366.367021,8.435547e+05,2.531029e+05,5.631263e+05
std,1.097641e+05,44728.223159,9.691220e+05,2.907311e+05,6.913120e+05
min,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.990000e+05,0.000000,2.990000e+05,8.970000e+04,1.500000e+05
50%,2.990000e+05,0.000000,3.990000e+05,1.197000e+05,2.200000e+05
75%,3.990000e+05,0.000000,1.122000e+06,3.366000e+05,6.993000e+05
max,1.516000e+06,599000.000000,1.483000e+07,4.449000e+06,1.038100e+07

In [ ]:
#df.to_csv('FinanceFix.csv', sep=',')

In [ ]:
#from google.colab import files
#files.download('FinanceFix.csv')